h1 {color: black;;
    font-size: 40px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    background-color: rgba(0, 255, 128, 0.925);}


h2 {color: black;
    font-size: 30px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    background-color: rgba(0, 255, 128, 0.925);}


h3 {color: black;
    font-size: 20px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    background-color: rgba(0, 255, 128, 0.925);}


p {color: blue;}
p {color: black;}

body {
    background-color: rgba(26, 77, 100, 0.973);
}

img {
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 255, 128, 0.925);
    border-radius: 50%;
    box-shadow: 10px 10px 20px black;
}

.textbox1 {
    background-color: rgba(0, 255, 128, 0.925);
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 5px; 
    border-style: solid; 
    border-color: black;  
    
    

}