h1 {color: black;;
    font-size: 40px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    background-color: rgba(0, 255, 128, 0.925);
}


h2 {color: black;
    font-size: 30px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    background-color: rgba(0, 255, 128, 0.925);}


h3 {color: black;
    font-size: 20px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    background-color: rgba(0, 255, 128, 0.925);}

h4 {color: black;
    font-size: 20px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    text-decoration: underline;}


p {color: blue;}
p {color: black;}

body {
    background-color: rgba(26, 77, 100, 0.973);
}

.cornwall {
    width: 49%;
    height: 100%;
    padding: 10px;
}

.cornwall2 {
    width: 49%;
    height: 100%;}

.auckland {
    width: 49%;
    height: 100%;
    padding: 10px;}

.stockholm {
    width: 49%;
    height: 100%;}


img {
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 255, 128, 0.925);
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    box-sizing: border-box;}

.textbox1 {
    background-color: rgba(0, 255, 128, 0.925);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 200px;
    width: 100%;
    padding: 5px;
    margin: 5px, auto;
    border: 5px; 
    border-style: solid; 
    border-color: black;  
    
    

}